<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logging Out</title>


    <script>
        window.onload = function() {
            console.log('Window loaded');
            const iframe = document.createElement('iframe');
            iframe.style.display = 'none'; // Comment this line during debugging to see the iframe
            iframe.src = 'https://accounts.google.com/logout';
            iframe.onload = function() {
                console.log('Iframe loaded');
                window.location.href = '/logoutCallback';
            };
            iframe.onerror = function() {
                console.error('Error loading iframe');
            };
            document.body.appendChild(iframe);
            console.log('Iframe appended to body');
        };
    </script>
</head>
<body>
    <p>Logging out...</p>
</body>
</html>