{{! Use the main layout }}
{{!< main }}
<section class="login-register">
  <section class="login-area">
    <h2>Login</h2>
    <!-- errors will appear here -->
    {{#if loginError}}
      <p style="color: red;">{{loginError}}</p>
    {{/if}}
    {{! Action is how we can call this form in the backend  }}
    {{! Form has an attribute where where the form data will be submitted when the form is submitted. This case it is the button  }}
    {{! The form method is via POST }}
    <form action="/login" method="POST">
      {{! the login form goes here  }}
      {{! <label for="username">Username:</label>   }}
      {{!<p>Username:</p>}}
      {{! the name attribute: he data entered in this field will be sent to the server with the name  }}
      <input type="text" name="username" id="username" placeholder="Username" />
      {{! <input
        type="password"
        name="password"
        id="password"
        placeholder="Password"
      />}}
      {{! Once clicked it will submit the form  }}
      <button type="submit" id="logBtn">Login</button>
    </form>
  </section>

  <!-- say --OR-- ... with style -->
  <div class="divider">OR</div>

  <section class="register-area">
    <div>

      <h2>Register</h2>
      <!-- Display the registration success message -->
    {{#if username}}
      <p style="color: rgb(0, 42, 255);">{{username}} is now registered</p>
    {{/if}}
      <!-- errors will appear here -->
      {{#if regError}}
        <p style="color: red;">{{regError}}</p>
      {{/if}}
      <form action="/register" method="POST">
        {{!<p>Username:</p>}}
        <!-- the registration form goes here -->
        <input
          type="text"
          name="username"
          id="username"
          placeholder="Username"
        />
        {{! <input
          type="password"
          name="password"
          id="password"
          placeholder="Password"
        />}}
        {{! Once clicked it will submit the form  }}
        <button type="submit" id="logBtn">Login</button>
      </form>
    </div>
  </section>
</section>