{{! Use the main layout }}
{{!< main }}
<section class="login-register">
  <section class="login-area">
    <h2>Login</h2>
    <!-- errors will appear here -->
    {{#if loginError}}
      <p style="color: red;">{{loginError}}</p>
    {{/if}}
    {{! Action is how we can call this form in the backend  }}
    {{! Form has an attribute where where the form data will be submitted when the form is submitted. This case it is the button  }}
    {{! The form method is via POST }}
    
      <div class="login-prompt">
        <a href="/auth/google"> Sign in with google </a>
      </div>
    
  </section>

</section>