html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #748d92, #d3d9d4);
  font-family: sans-serif, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
}

body {
  display: flex;
  flex-direction: column;
}
/*--------------Header---------------*/
header {
  color: #363636;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: auto;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.logo img {
  width: 120px;
  height: auto;
}

.logo h1 {
  margin: 0;
}
nav ul {
  list-style-type: none;
  padding: 0;
  padding-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
nav ul li {
  margin: 15px;
}
nav ul li:last-child {
  margin-right: 0;
}
nav ul li a {
  color: #363636;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}
nav ul li a::after {
  content: "";
  width: 0;
  height: 2px;
  display: block;
  margin-top: 3px;
  right: 0;
  background: #2763a3;
  transition: width 0.3s ease;
}

nav ul li a:hover::after {
  width: 100%;
}
.header-avatar {
  width: 50px;
  height: 50px;
  background: #ddd;
  border-radius: 10px;
  margin: 0 10px;
}

/*------------body-------------*/
.content-container {
  display: flex;
  height: auto;
  justify-content: center;
  padding: 0 20px 0 40px;
  margin: 0 20px;
  flex-wrap: wrap;
}

.home-title {
  text-align: center;
  color: #363636;
  font-size: 30px;
}
.post-form input,
textarea {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: transparent;
  outline: none;
  border: none;
}
.post-form {
  width: 45%;
}
.logout {
  text-align: center;
  font-size: 40px;
}
/*-------Create A new Post-----------*/

#title {
  font-size: 25px;
  border-bottom: 1.5px solid #00d5ff;
  border-radius: 0px;
  outline: none;
}
#postInfo {
  height: 150px;
  font-size: 15px;
  resize: vertical;
}
.form-actions {
  display: flex;
  justify-content: space-between;
}
.emoji-button,
.post-button {
  padding: 10px 15px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  margin: 15px;
}
.post-button {
  width: 80%;
  margin-left: 10px;
}
.emoji-button:hover {
  background-color: #3d9bff;
}
.post-button {
  color: white;
  margin-left: 10px;
}
.post-button:hover {
  background-color: #3d9bff;
}

/*----------Recent Post------------------*/

.posts-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  flex-wrap: wrap;
}
.posts-list ul {
  padding: 0;
  margin: 20px;
}
.post-content {
  max-width: 600px;
  margin: 20px auto;
  border-radius: 20px;
  background-color: #d2cbb8;
  box-shadow: 0 1px 10px rgb(0, 0, 0);
  overflow: hidden;
}
.post-header {
  display: flex;
  align-items: center;
  padding: 10px 16px;
}

.post-avatar {
  margin-right: 10px;
}
.header-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.post-user-info {
  display: flex;
  flex-direction: column;
}

.username {
  font-weight: bold;
  color: #262626;
  font-size: 20px;
}

.timestamp {
  font-size: 15px;
  color: #999;
}

.post-content h2 {
  margin: 10px 16px;
  font-size: 20px;
  color: #262626;
}

.post-content p {
  margin: 10px 16px;
  font-size: 18px;
  color: #262626;
}

.post-image {
  width: 100%;
  height: auto;
}
.post-details {
  padding-bottom: 30px;
}
.post-status-bar {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  border-top: 1px solid #45454569;
}

.likes-count {
  font-size: 18px;
  color: #262626;
}

.like-button,
.delete-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #262626;
  margin-left: 10px;
}

.like-button i,
.delete-button i {
  font-size: 20px;
}

.like-button:hover i,
.delete-button:hover i {
  color: #ff0000;
}

.comments-section {
  padding: 16px;
}
.comments-section h3 {
  margin: 0;
  font-size: 14px;
}
.comment p {
  margin: 5px;
  font-size: 15px;
}
.comment p strong {
  color: #007bff;
}
.no-comment h3 {
  margin: 0;
  padding: 13px;
  font-size: 14px;
}
.comment-form{
  padding-left: 10px;
  padding-bottom: 10px;
}
.comment-form button {
  background: #007bff;
  color: #fff;
  padding: 7px 11px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.comment-form button:hover {
  background: #3d9bff;
}
.login-prompt {
  margin-top: 2px;
  padding: 5px;
  border-radius: 5px;
}
.login-prompt a {
  color: #ea00ff;
  text-decoration: none;
}
.login-prompt a:hover {
  text-decoration: underline;
}
/*-----------filter post-------------*/
#filterForm label {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}
#filterForm select {
  padding: 3px;
  font-size: 12px;
  border-radius: 4px;
  background-color: #d4d4d492;
  color: #333;
}
/*-------------Footer----------------------*/
footer {
  color: #363636;
  width: auto;
  margin-top: auto;
  text-align: center;
}

@media (max-width: 1000px) {
  body {
    height: 100%;
  }
  header {
    padding: 5px;
    justify-content: center;
  }
  .logo {
    justify-content: center;
  }
  .content-container {
    justify-content: center;
  }
  .posts-list {
    width: auto;
    margin: auto;
  }

  footer {
    padding: 5px;
  }
}
